@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family:'Playfair Display', sans-serif;
}
header {
    justify-content: space-between;
}
.container {
    margin: auto;
    width: 80%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.kiri ul {
    display: flex;
}

.kiri ul li {
    padding: 20px;
}

header {
    display: flex;
}

.tengah img{
    width: 90px;
}

.kanan ul {
    display: flex;
}

.kanan ul li{
    padding: 20px;
}

.tengahkanan img{
    width: 25px;
}

.backround{
    width: 20px;
}

#dua {
    background: url(./Asset/homepage.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.isikanan{
    margin-left: 900px;
    width: 400px;
    height: 80px;
    padding-top: 190px;
    color: white;
    font-size: 30px;

}

.isikanan form input{
    height: 30px;
    border-radius: 100px 100px 100px 100px;
    padding-left: 10px;
    width: 70%;
}

.isikanan form button{
    height: 30px; 
    border-radius: 100px 100px 100px 100px; 
    width: 45%;
    color: white;
    background-color: red;
}


.bawah .isibawah {
    margin: 100px 0 0 0;
}

.bawah .isibawah h1 {
    text-align: center;
    font-size: 30px; 
}

.bawah .isibawah p {
    text-align: center;
    font-size: 30px; 
}

.conten .isi-conten {
    display: flex;
    margin: 100px 0 0 0;
    padding: 0 150px;
}

.conten button {
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

#empat {
    background: url(./Asset/maps-1.svg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.isibagmap{
    margin-left: 800px;
    width: 400px;
    height: 80px;
    padding-top: 190px;
    font-size: 30px;
}

footer{
    margin-top: 80px;
    color :black;

}

footer .container .konten{
    display: flex;

}

footer .container .konten .satu {
    width: 25%;
}

footer .container .logo{
    background-color: black;
}